{% extends 'layout.html' %}
{% load staticfiles%}

{% block content %}
메인 페이지
<p><a href="{% url 'introduce' %}">introduce</a></p>
<p><a href="{% url 'select' %}">select</a></p>
<p><a href="{% url 'organ_signup' %}">organ_signup</a></p>
<p><a href="{% url 'user_signup' %}">user_signup</a></p>
<p><a href="{% url 'signin' %}">signin</a></p>
<p><a href="{% url 'mypage' %}">mypage</a></p>
<p><a href="{% url 'register' %}">register</a></p>
<p><a href="{% url 'quest' %}">quest</a></p>
<p><a href="{% url 'point' %}">point</a></p>
{% endblock %}