{% extends 'layout.html' %}
{% load staticfiles%}

{% block content %}
{% if user.is_authenticated %}
{{ user.id }}<br>
{% endif %}
{% for Brand in brands.all %}
    <h1>{{ Brand.img }}</h1>
    <h1>{{ Brand.name }}</h1>
    {% for Product in Brand.products.all %}
        <p>{{ Product.name }}</p>
        <p>{{ Product.point }}</p>

        <form method = "POST" action= "{%url 'point_update' Product.id user.id %}">
            {% csrf_token %}
            <button><input type="submit" value="교환하기"></button>
        </form>
    {% endfor %}
{% endfor %}
{% endblock %}